/* commons  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.left {
    float: left;
}

/* header */

header{
    height: 100px;
    background-color: #3066BE;
    margin-bottom: 20px;
}


/* =============== debug =============== */

.debug.jumbotron {
    height: 500px;
    background-color: #119DA4;
}

.debug .main-title {
    height: 100px;
    background-color: #6D9DC5;
}

.debug .col1,.col2 {
    width: 23%;
    height: 400px;
    background-color: #6D9DC5;
}

.debug .main-section {
    width: 50%;
    height: 400px;
    background-color: #6D9DC5;
}

/* main  */

.jumbotron {
    margin-bottom: 20px;
}

.bg-main {
    background-color: #80DED9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.main-title {

    margin-bottom:20px;
}

.col1,
.main-section {
    margin-right: 2%;
}

/* footer */

footer {
    height: 100px;
    background-color: #19647E;
}

